body {
  background-color: black;
  color: white;
  margin-left: 50px;
}

.share {
  background-color: white;
  color: black;
  height: 32px;
  width: 32px;
}

img {
  width: 150px;
  height: 150px;
}
