.mainRecipes {
  display: flex;
  padding-top: 7vh;
  justify-content: space-around;
    flex-direction: column;
    margin: auto;
} 

.navRecipes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    margin: auto;  
}

.categoryRecipes {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center; 
}

.imgCategory {
    width: 35px;
    max-height: 70px !important ;
}

.cardsSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 7vh;
    width: 360px;
}

.cardContainer{
    padding-top: 7vh;
    max-width: 45%;
    display: flex;
    flex-direction: column;
}

.imgRecipes {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;  
}

.detailsCards{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;   
} 
